<template>
<div>

  <v-toolbar dense>
      <!-- <nuxt-link class="link" to="/about"> -->
      <v-toolbar-side-icon @click.stop="drawer = !drawer">
        
      </v-toolbar-side-icon>
      <!-- </nuxt-link> -->
      <v-toolbar-title class=".o">Putain de météo</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

 <v-layout wrap>
 <v-navigation-drawer
      temporary
      v-model="drawer"
      absolute
    >
    </v-navigation-drawer>
 </v-layout>


</div>
</template>
<script>
export default {
  data () {
    return {
      drawer: null
    }
  }
}
</script>
<style scoped>
</style>
