<template>
<div>
  <div id='Card'>
    <v-container fluid grid-list-xl>
      <v-layout row wrap>
        <v-flex xs12 sm6 offset-sm3>
          <v-card color='blue-grey darken-2' class='white--text'>
            <br/>
            <h3 class='font-weight-thin'> {{formattedDate}} </h3>
              <v-container fluid grid-list-xl>
                <v-layout row wrap justify-space-between>
                  <v-flex xs4>
                    <img :src='getWeatherIcon'/>
                    <h2>{{descriptionData}} </h2>
                  </v-flex>
                  <v-layout row wrap justify-center>
                  <v-flex d-flex xs4>
                    <fa :icon="fas.faTint" style="font-size: 15px;margin:10px 10px;"/>
                    <p class="display-1"> {{getHumidity}}</p>
                  </v-flex>
                  </v-layout>
                  <v-flex xs4>
                    <p class='display-4'>{{formattedTemp}}</p>
                  </v-flex>
                </v-layout>
              </v-container>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</div>
</template>
<script>
import { faGithub } from '@fortawesome/free-brands-svg-icons'
import { fas } from '@fortawesome/free-solid-svg-icons'
export default {
  props: [
    'descriptionData',
    'tempData',
    'applicableDate',
    'abbr',
    'humidity'
  ],
  computed: {
    getWeatherIcon: function () {
      return `https://www.metaweather.com/static/img/weather/png/${this.abbr}.png`
    },
    formattedTemp: function () {
      return Math.round(this.tempData) + '°C'
    },
    formattedDate: function () {
      // TODO
      var days = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi']
      let date = this.applicableDate.split('-')
      //  let parsedDate = date[2] + '/' + date[1] + '/' + date[0]
      let d = new Date()
      //  let dotw = days[d.getDay()]
      // console.log(days[d.getDay()])
      let fd = days[d.getDay()] + ' ' + date[2] + '/' + date[1]
      console.log(fd)
      return fd
    },
    getHumidity: function () {
      return this.humidity + '%'
    },
    /* FontAwesome */
    faGithub () {
      return faGithub
    },
    fas () {
      return fas
    }
  }
}
</script>
<style scoped>
img {
  height: 8em;
  width: 8em;
}
</style>
