<template>
  <div>
    <NavBar></NavBar>
    <nuxt/>
  </div>
</template>


<script>
import NavBar from '../components/NavBar'
export default {
  data () {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [
        { icon: 'apps', title: 'Welcome', to: '/' },
        { icon: 'bubble_chart', title: 'Inspire', to: '/inspire' }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js'
    }
  },
  computed: {
    copyright () {
      return `Copyright &copy; ${new Date().getFullYear()} jefrydco`
    }
  },
  components: {
    NavBar
  }
}
</script>
