<template>
    <div>
      <br/>
        <h1 class="display-2">{{this.input ? this.input : this.header}}</h1>
        <br/>
        <form @submit.prevent='submit'>
            <input placeholder='Ou ?' v-model='input' @keyup.enter='getWoeid' autofocus/>
            <v-btn
            outline fab color="teal"
            :loading='loading'
            :disabled="loading4"
            v-model='getWoeid'>
              <v-icon>list</v-icon>
            </v-btn>
        </form>
        <br/>
          <h2 class="display-1"> {{period}} </h2>
        <br/>      
      <div v-if="cityExists">
      <h3>{{country}}</h3>
        <br/>
        <h2 class="display-2"> {{timeZone}} </h2>
        <br/>
        <div v-for="forecast in forecastArray" :key="forecast">
          <weatherCard 
            :descriptionData="forecast.weather_state_name"
            :tempData="forecast.the_temp"
            :applicableDate="forecast.applicable_date"
            :abbr="forecast.weather_state_abbr"
            :humidity="forecast.humidity"
          />
        </div>
      </div>
      </div>
</template>
<script>
import weatherCard from '~/components/weatherCard.vue'
import axios from 'axios'
export default {
  data () {
    return {
      city: '',
      header: 'Entre une putain de ville !',
      input: '',
      meteoData: '',
      description: '',
      temp: '',
      day: '',
      time: '',
      period: '',
      woeid: '',
      forecastArray: '',
      loading: null
    }
  },
  created () {
    var currentDate = new Date()
    var day = currentDate.getDay()
    var weekdays = new Array(7)
    weekdays[0] = 'Dimanche'
    weekdays[1] = 'Lundi'
    weekdays[2] = 'Mardi'
    weekdays[3] = 'Mercredi'
    weekdays[4] = 'Jeudi'
    weekdays[5] = 'Vendredi'
    weekdays[6] = 'Samedi'
    var dayName = weekdays[day]
    var currentHours = currentDate.getHours()
    var timeOfDay = currentHours >= 12 ? 'Après-midi' : 'Matin'
    this.period = dayName + ' ' + timeOfDay
  },
  methods: {
    submit (input) {
      console.log('input : ' + this.input)
      this.loading = true
    },
    async getWoeid () {
      return axios
        .get(`https://cors-anywhere.herokuapp.com/https://www.metaweather.com/api/location/search/?query=${this.input}`, {headers: {'Access-Control-Allow-Origin': '*'}})
        .then(response => {
          console.log('MetaWeather getWoeid() :')
          console.log(response)
          console.log('PARSED woeid: ' + response.data[0].woeid)
          this.woeid = response.data[0].woeid
          this.getMetaWeather()
          this.loading = false
        })
        .catch(err => {
          console.log('Err getWoeid()')
          console.log(err.response)
          this.loading = false
        })
    },
    async getMetaWeather () {
      return axios
        .get(`https://cors-anywhere.herokuapp.com/https://www.metaweather.com/api/location/${this.woeid}/`, {headers: {'Access-Control-Allow-Origin': '*'}})
        .then(response => {
          console.log('getMetaWeather() :')
          console.log(response)
          this.meteoData = response
          this.forecastArray = response.data.consolidated_weather
          console.log('nbforecast :')
          console.log(this.forecastArray.length)
        })
        .catch(err => {
          console.log('Err getMetaWeather()')
          console.log(err.response)
        })
    }
  },
  computed: {
    getCity: function () {
      return this.input
    },
    cityExists: function () {
      return this.forecastArray.length > 0
    },
    timeZone: function () {
      return 'timezone : ' + this.meteoData.data.timezone
    },
    country: function () {
      return 'Country : ' + this.meteoData.data.parent.title
    }
  },
  components: {
    weatherCard
  }
}
</script>

<style>
* {
  text-align: center 
}
</style>

